<!doctype html>

<html>
  <head>
    <title>BarCamp</title>
    <link rel="stylesheet" href="../public/global.css">
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>
  </head>

  <div class="top_bar">
    <img class="logo" src="../assets/header_logo.png" alt="Header logo">
    <img class="menu" src="../assets/menu.png" alt="Menu">
  </div>

  <div class="part1">
    <div class="mountains"></div>
    <img class="hero_logo" src="../assets/hero_logo.png" alt="Hero logo">
    <img class="trees" src="../assets/trees.png" alt="Trees">
    <img class="lake" src="../assets/lake.png" alt="Lake">
    <!-- <div style="clear: both;"></div> -->
  </div>

  <div class="bottom_overlay">
    <div class="location">
      <h3>KANEKO</h3>
      <p>Omaha, Nebraska</p>
    </div>
    <img class="date" src="../assets/date.png" alt="Date">
    <div class="partner">
      <img class="aiga" src="../assets/aiga.png" alt="AIGA logo">
    </div>
  </div>


  <div class="part2">
    <div class="register_bird">
      <img class="button_lines" src="../assets/buttonlines.png" alt="Button lines">
      <img class="bird" src="../assets/bird.png" alt="bird">
      <p class="register">Register Today</p>
      <p class="price">$15</p>
    </div>
    <div class="expert">
      <h2>At BarCamp, you don't have to be an expert to give a talk</h2>
      You just have to be passionate. At BarCamp, you won't find a predetermined speaker list or a line of suits passing out business cards. What you will find is some shaggy dude in a t-shirt talking about moonshine, a web developer talking about the best practices in SEO, or a world traveler sharing their experiences. BarCamp is a chance to network, learn something new, and communicate what you're most passionate about. Come one, come all.
    </div>
  </div>

  <body>
  </body>
</html>
