<!doctype html>

<html>
  <head>
    <title>BarCamp</title>
    <link rel="stylesheet" href="../public/global.css">
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>
  </head>

  <div class="top_bar">
    <img class="logo" src="../assets/header_logo.png" alt="Header logo">
    <img class="menu" src="../assets/menu.png" alt="Menu">
  </div>

  <div class="part1">
    <div class="mountains"></div>
    <img class="hero_logo" src="../assets/hero_logo.png" alt="Hero logo">
    <img class="trees" src="../assets/trees.png" alt="Trees">
    <img class="lake" src="../assets/lake.png" alt="Lake">
    <div class="location">
      <h3>KANEKO</h3>
      <p>Omaha, Nebraska</p>
    </div>
    <img class="date" src="../assets/date.png" alt="Date">
  </div>

  <body>
  </body>
</html>
